h1 + ul {
	background-color: orange;
}

h1 ~ ul {
	color: #fff;
}

input[type='email'] {
	background-color: red;
}
input[type='text'] {
	font-size: 30px;
}

a[target] {
	text-decoration: none;
}
a[target='_blank'] {
	font-size: 30px;
}
a[href="https://www.daum.net/"]
{
	background-color: red;
}

h2[class^='main'] {
	color: blue;
}

h2[class$='_txt2'] {
	border-bottom: 1px solid #000;
}
h2[class~='_txt2'] {
	color: red;
}
